.button{
    transform: scale(1.8);
}

  
.add-event-modal {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  }
  
  .register-button {
    margin-top: 2.5em;
    margin-bottom: 0.5em;
  }